<a href="https://colab.research.google.com/github/NediaPutrii/big-data/blob/main/Naive_Bayes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn import preprocessing

import library yang dibutuhkan

In [ ]:
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/00222/bank.zip
!unzip bank.zip

--2021-05-13 17:03:16--  https://archive.ics.uci.edu/ml/machine-learning-databases/00222/bank.zip
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 579043 (565K) [application/x-httpd-php]
Saving to: ‘bank.zip.1’

bank.zip.1          100%[===================>] 565.47K  1.37MB/s    in 0.4s

2021-05-13 17:03:17 (1.37 MB/s) - ‘bank.zip.1’ saved [579043/579043]

Archive:  bank.zip
replace bank-full.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename:

get dataset dan unzip

In [ ]:
df = pd.read_csv('bank.csv', sep=';')
df.head()

   age          job  marital  education  ... pdays  previous poutcome   y
0   30   unemployed  married    primary  ...    -1         0  unknown  no
1   33     services  married  secondary  ...   339         4  failure  no
2   35   management   single   tertiary  ...   330         1  failure  no
3   30   management  married   tertiary  ...    -1         0  unknown  no
4   59  blue-collar  married  secondary  ...    -1         0  unknown  no

[5 rows x 17 columns]

read dataset dengan pandas dan lihat head

In [ ]:
encoder = preprocessing.LabelEncoder()

df['age'] = encoder.fit_transform(df['age'])
df['job'] = encoder.fit_transform(df['job'])
df['marital'] = encoder.fit_transform(df['marital'])
df['education'] = encoder.fit_transform(df['education'])
df['default'] = encoder.fit_transform(df['default'])
df['balance'] = encoder.fit_transform(df['balance'])
df['housing'] = encoder.fit_transform(df['housing'])
df['loan'] = encoder.fit_transform(df['loan'])
df['contact'] = encoder.fit_transform(df['contact'])
df['day'] = encoder.fit_transform(df['day'])
df['month'] = encoder.fit_transform(df['month'])
df['duration'] = encoder.fit_transform(df['duration'])
df['campaign'] = encoder.fit_transform(df['campaign'])
df['pdays'] = encoder.fit_transform(df['pdays'])
df['previous'] = encoder.fit_transform(df['previous'])
df['poutcome'] = encoder.fit_transform(df['poutcome'])



df['y'] = encoder.fit_transform(df['y'])

encoding field yang akan digunakan, disini saya menggunakan semua field yanga da di table

In [ ]:
scaler = preprocessing.MinMaxScaler()
df[['pdays', 'balance']] = scaler.fit_transform(df[['pdays','balance']])

In [ ]:
feature_label = ['age', 'job','marital','education','default','balance','housing','loan','contact','day','month','duration','campaign','pdays','previous','poutcome']
label = ['y']

set feature dan (label = y)

In [ ]:
features = df[feature_label]
label = df['y']
features

      age  job  marital  education  ...  campaign     pdays  previous  poutcome
0      11   10        1          0  ...         0  0.000000         0         3
1      14    7        1          1  ...         0  0.783505         4         0
2      16    4        2          2  ...         0  0.752577         1         0
3      11    4        1          2  ...         3  0.000000         0         3
4      40    1        1          1  ...         0  0.000000         0         3
...   ...  ...      ...        ...  ...       ...       ...       ...       ...
4516   14    7        1          1  ...         4  0.000000         0         3
4517   38    6        1          2  ...         0  0.000000         0         3
4518   38    9        1          1  ...        10  0.000000         0         3
4519    9    1        1          1  ...         3  0.481100         3         1
4520   25    2        2          2  ...         1  0.553265         7         1

[4521 rows x 16 columns]

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(features, label, test_size=0.2)

split data traning dan test

In [ ]:
simple_distribution = GaussianNB()
simple_distribution.fit(X_train, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [ ]:
y_pred = simple_distribution.predict(X_test)

prediksi

In [ ]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

array([[698,  93],
       [ 69,  45]])

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.8209944751381215

mencek nilai accuracy yaitu sekitar 82%

In [ ]:
from sklearn.metrics import precision_score, recall_score
print(recall_score(y_test, y_pred))
print(precision_score(y_test, y_pred))

0.5
0.3708609271523179

menampilkan recall dan precision

In [ ]:
from sklearn.metrics import f1_score
f1_score(y_test, y_pred)

0.42585551330798477

perbandingan rata-rata presisi dan recall yang dibobotkan